{% extends "xadmin/my_base.html" %}
{% block body%}
<div class="container" style="width:90%">
    <div class="row">
        <div class="col-sm-10">
            <select style="width:40%" onchange="reference_change(value)">
                {% for reference in references %}
                    {% if current_reference == reference.name %}
                        <option value="{{reference.name}}" selected=""><a href="">{{reference.name}}</a></option>
                    {% else %}
                        <option value="{{reference.name}}"><a href="">{{reference.name}}</a></option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">{{ last_commit}}</div>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <th style="width:20%"></th>
                <th style="width:65%"></th>
                <th style="width:15%"></th>
            </thead>
            <tbody>
                {% for file in file_list%}
                    <tr>
                        <td>{{file.name}}</td>
                        <td>{{file.message}}</td>
                        <td>{{file.committed_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function reference_change(value){
        window.location.href='{% url "repository:repository_main" repository.id ""%}' + value;
    }
</script>
{% endblock %}