{% extends "xadmin/my_base.html" %}
{% block body%}
<div class="container">


    <table class="table table-hover">
        <thead>
            <th style="width:1%"></th>
            <th style="width:30%"></th>
            <th style="width:60%"></th>
        </thead>
        <tbody>
            {% for index, repo in repositories %}
            <tr>
                <td>{{index}}</td>
                <td><a href="">{{repo.name}}</a></td>
                <td>{{repo.path}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function form_submit(){
    $("#new_repository_form").submit();
}

</script>
{% endblock %}